/*
Written by Peter Schaldenbrand
This is the main place for css in the space_lizards site
*/

body {
    width: 99%;
    height: 97%;
	background-color: lightblue;
	color: rgb(64,0,135);
	text-align: center;
	background-image: url("../space_pics/space_background.jpg");
	background-size: 30%;
	font-family: camp;
	font-size: 80px;
	letter-spacing: 3px;
}

p.one {
	margin-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: lightblue;
	border-style: solid;
	font-size: 45px;
	display: inline-block;
}
p.two{
	margin-top: 3%;
	padding-left: 20%;
	padding-right: 20%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: lightgreen;
	border-style: solid;
}
p.three {
	margin-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: lightblue;
	border-style: solid;
	font-size: 60px;
	display: inline-block;
}
p.four {
	margin-top: 6%;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 30%;
	margin-right: 30%;
	background-color: rgba(64,0,135, 0.75);
	border-style: solid;
	color: lightgreen;
	font-size: 35px;
	letter-spacing: 7px;
}
div.story{
	background-color: lightblue;
	display: block;
}
@font-face {
    font-family: camp;
    src: url(../fonts/AmaticSC.woff);
}
.button:hover {
	background-color: lightgreen;
}
img.story {
	border-radius: 3%;
	padding: 5px;
	height: 10%;
	width: 80%;
	/*max-width: 80%;*/
	max-height: 550px;
	display: inline-block;
	margin: 1px 1px;
}
#sidebyside{
	text-align: center;
}
p.story_title{
	margin-top: 4px;
	margin-bottom: 1%;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: lightblue;
	border-style: solid;
	font-size: 45px;
}
.button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.6s;
	background-color: lightblue;
	display: inline;
	width: 30%;
	height: 30%;
	padding: 1%;
	border: 3px solid rgb(64,0,135);
	font-family: camp;
	font-size: 50%;
	color: rgb(64,0,135);
	border-radius: 15%;
	margin-top: 1%;
	margin-bottom: 1%;
}
form.story{
	display: inline;
}
.add{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.6s;
	background-color: lightblue;
	//display: inline;
	width: 50%;
	margin-left: 25%;
	//height: 30%;
	//padding: 1%;
	border: 3px solid rgb(64,0,135);
	font-family: camp;
	font-size: 70%;
	color: rgb(64,0,135);
	//border-radius: 15%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 3%;
}
p.formtext{
	font-size: 60%;
	margin: 1% 1%;
}
.textbox{
	font-family: camp;
	font-size: 100%;
}